[Unit]
Description=Solar forecast monitoring
Documentation=https://github.com/DentonGentry/powerwall
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=prometheus
Group=prometheus
ExecReload=/bin/kill -HUP \$MAINPID
# API keys at https://toolkit.solcast.com.au/register/hobbyist
ExecStart=/usr/local/bin/solcast_prometheus --solcast_api_key=MY_API_KEY --solcast_resource_id=MY_RESOURCE_ID

SyslogIdentifier=solcast
Restart=always

[Install]
WantedBy=multi-user.target
